{% extends "page.html" %}

{% block page_title %}
{{ super() }}
    CKAN Swagger UI
{% endblock %}

{% block stylesheets %}
    {{ super() }}
    <link href="{{ h.url_for_static('swagger-ui/dist/swagger-ui.css') }}" rel="stylesheet">
    <p>Estilos personalizados de Swagger añadidos</p> <!-- Depuración -->
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ h.url_for_static('swagger-ui/dist/swagger-ui-bundle.js') }}"></script>
    <script src="{{ h.url_for_static('swagger-ui/dist/swagger-ui-standalone-preset.js') }}"></script>
    <p>Scripts de Swagger añadidos</p> <!-- Depuración -->
{% endblock %}
{% block content %}
    <div id="swagger-ui"></div>
    <script>
        window.onload = function() {
            // Configurar Swagger UI para consumir el archivo generado en /swagger.json
            const ui = SwaggerUIBundle({
                url: "{{ h.url_for('swagger.swagger_json') }}",  <!-- Cargar el JSON dinámico -->
                dom_id: '#swagger-ui',
                presets: [SwaggerUIBundle.presets.apis, SwaggerUIStandalonePreset],
                layout: "StandaloneLayout"
            });
            window.ui = ui;
        }
    </script>
{% endblock %}
